apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: bank-account-deploy-hpa
  namespace: auction
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: bank-account-deploy
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
