apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: kube-system
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/auction/auctions/*.json
      pos_file /var/log/fluentd-auction.pos
      tag auction
      refresh_interval 10s
      read_from_head true
      <parse>
        @type none
      </parse>
    </source>
    <match auction>
      @type s3
      s3_bucket "#{ENV['S3_BUCKET_NAME']}"
      s3_region "#{ENV['S3_BUCKET_REGION']}"
      path logs/
      s3_object_key_format %{path}%{time_slice}_%{uuid_flush}.json
      time_slice_format %Y%m%d%H%M%S
      store_as json
      check_object false
      <buffer tag,time>
        @type memory
        flush_mode immediate
        timekey 1s
        timekey_wait 0s
        chunk_limit_records 1
      </buffer>
      <format>
        @type single_value
        message_key message
      </format>
    </match>
